* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  
}


/* Nav menu */

.flexboxheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: grey;

}
  
.logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: white;
  border: yellow 2px solid;
}


ul {
  margin-right: 20px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  color:white;
  }

 a:link, a:visited {
    color:yellow;
    text-decoration: none;
    background-color: white;
    border: 1px solid blue;
  }

  /* Banner video */

  .banner video {
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    width: 100vw;
    height: 75vh;
  }

 

/* heading h1 */


h1 {
  
  background-color: rgb(214, 14, 14);
  color: black;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  font-weight: bold;

}

.heading p {
  margin-right: 300px;
  margin-left: 300px;
}



/* share links*/

.googleicons {
  color: red;
  text-align: center;

}


/* Images gallery*/

.flexboxpics {
    display: flex;
    flex-flow: row wrap;
    
  }

 
.flexboxpics img {
  border: hotpink 5px solid;

}

/* Paragraphs lorem ipsum */

.newtosit {
  display: flex;
  flex-direction: row;

}
.new {
  display: inline-flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.new p {
  color: green;
}

button {
  background-color: blue;
  color: white;
  border: orange 2px solid;
  width: 300px;
}


/* footer*/

footer {
  float: left;
  clear: both;
  margin: 20px;

}
