* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  border: 1px black solid;
  
}

/* header Bootstrap */

header {
  background-color: aqua;
  padding:12px 20px;
  
}

header p {
  margin-bottom: 0px;
}

header img {
  width: 3rem;
  height: auto;
}

/* Nav menu */

.row {
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

/* Banner video */

.banner video {
  
  display: block;
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  width: 100vw;
  height: 75vh;
}


/* Banner heading h1 */

.heading {
  position: relative;
  height: 75vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
    
  color: yellow;
  font-size: 6vw;
  /*
  padding-top: 45rem;
  padding-bottom: 25rem;
  */
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px black;

}

.heading p {
  color:yellow;
  font-size: 4vw;

}

/* freebie giveaway 

.free {
  background-color: #ffe400;
}
*/

.freebie {
  align-items: center;
}

/*pic42

.pic42 {
  display: flex;
  justify-content: center;
  
}
*/

h4 {
  text-align:center;
  color: #FF652F;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgfree {

 width: 50%;
 margin:auto;
}

.freebie {
  overflow-x:hidden;
  overflow-y:hidden;
}

  /* share links*/

.googleicons {
  color: red;
  text-align: center;

}


/* Images gallery*/

.flexboxpics {
  display: flex;
  flex-flow: row wrap;
  
}


.flexboxpics img {
border: hotpink 5px solid;

}

/* bootstrap test */

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

/* Paragraphs lorem ipsum */

.newtosit {
display: flex;
flex-direction: row;

}
.new-new {
  flex: 1; 
  display: inline-flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;

}

.new-new p {
  color: green;
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  border: orange 2px solid;
  width: 300px;
  
}


/* footer*/

footer {
  float: left;
  clear: both;
  margin: 20px;

}

/* media queries  screen size max 600px */

@media screen and (max-width: 600px) {

  .heading {
    height: 50vh;
  }

  .heading > p {
    margin: 50px;
    justify-content: flex-end;
    margin: 10px;

}

  .free {
    padding-bottom: 20px;
}
  .newtosit {
    flex-direction: column;
  }
  .flexboxpics {
    flex-direction: column;
    width: 100%;
  }
  .flexboxpics img {
    width: 100%;
    }

  .banner video {
      height: 50vh;
    }
    
/* media queries screen size max 1030px */

  



  @media screen and (max-width: 1030px) {
    .flexboxpics img{
      width: 50%
        
      }

    }
  
 
  
  
